
{% load static %}
<!DOCTYPE html>
<html>
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" type="text/css" href="{% static 'reviews/main.css'  %}">

    {% if title %}
      <title> {{ title }} </title>
    {% else %}
      <title>blaaaaahhhhhhhhrrrggghhhhh</title>
    {% endif %}

  </head>

  <body>

    <!--BOOTSTRAP NAVBAR TO REMOVE -->
    <header class="top">

      <nav class="navbar">
        <ul class="nav-links">
          <div class="font-change logo left brat" ><li> <a class="font-change logo left brat" href="{% url 'reviews-home' %}">Double Rotten</a></li></div>
          <div class="right main-nav">
            {% if user.is_authenticated %}
              <li><a class="font-change nav-link-more" href="{% url 'reviews-home'  %}">Film</a></li>
              <li><a class="font-change nav-link-more" href="{% url 'reviews-home'  %}">Music</a></li>
              <li><a class="font-change nav-link-more" href="{% url 'reviews-home'  %}">Literature</a></li>
              <li><a class="font-change nav-link-more" href="{% url 'reviews-home'  %}">Vidya</a></li>
              <li><a class="font-change nav-link-more" href="{% url 'reviews-about' %}">Visual</a></li>

              <li><a class="font-change nav-link-more" href="{% url 'review-create' %}">Write</a></li>
              <li><a class="font-change nav-link-more" href="{% url 'logout' %}">Logout</a></li>
              <!--<li><a class="font-change nav-link-more" href="{% url 'profile' %}">Profile</a></li>-->
            {% else %}
              <li><a class="font-change nav-link" href="{% url 'reviews-home'  %}">Film</a></li>
              <li><a class="font-change nav-link" href="{% url 'reviews-home'  %}">Music</a></li>
              <li><a class="font-change nav-link" href="{% url 'reviews-home'  %}">Lit</a></li>
              <li><a class="font-change nav-link" href="{% url 'reviews-home'  %}">Vidya</a></li>
              <li><a class="font-change nav-link" href="{% url 'reviews-about' %}">Visual</a></li>

              <li><a class="font-change nav-link" href="{% url 'login' %}">Login</a></li>
              <li><a class="font-change nav-link" href="{% url 'register'  %}">Register</a></li>
            {% endif  %}
          </div>
        </ul>
      </nav>
    </header>
    <!-- END OF BOOTSTRAP NAVBAR TO BE DELETED -->



    <!-- BUNCH OF BULLSHIT AROUND THE CONTENT? -->
    <main role="main" class="font-change">
      <div id="">
        <!-- THIS IS THE ACTUAL CONTENT SO LEAVE IT -->
        <div class="" id="page">
          {% if messages  %}
            {% for message in messages  %}
              <div class="alert alert-{{ message.tags }}">
                {{message}}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <!-- END OF ACTUAL CONTENT -->
      </div>
    </main>
    <!-- BUT DELETE THE REST OF THE BS ABOVE -->












  </body>
</html>
