{% extends "reviews/base.html" %}
{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token  %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Deletion</legend>
        <h4> sure you want to delete "{{ object.title }}" </h4>
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-danger" type="submit">Delete Comment</button>
        <a class="btn btn-outline-secondary" href="{% url 'review-detail' object.id %}">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}

