{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="review-form" id="review-page">
    <form method="POST" class="review-text">
      {% csrf_token  %}
      <fieldset class="">
        {{ object.title }}
        <legend class="mini-brat font-change">Double Rotten</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="">
        <a><button class="btn font-change" type="submit"><a>Add Comment</a></button></a>
      </div>
    </form>
  </div>
{% endblock %}

