{% extends "reviews/base.html" %}
{% block content %}
  
  <div id="page">
    {% for post in posts  %}
      <article class="review" id="">
        <div class="review-body">
          <a class="font-change" href="{% url 'user-reviews' post.author.username %}">{{ post.author }}</a>
          <small class="font-change">{{ post.date_posted|date:'m/d/y' }}</small>
          <small><a class="font-change review-link" href="{% url 'review-detail' post.id %}">{{ post.title }}</a></small>
          <hr>
          <p class="">{{ post.review }}</p>
        </div>
      </article>
    {% endfor  %}
  </div>
  {% if is_paginated  %}
    <div class="font-change" id="pagination">
      {% if page_obj.has_previous %}
        <a class="btn" href="?page=1">first</a>
        <a class="btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn" href="?page={{ page_obj.next_page_number }}">next</a>
        <a class="btn" href="?page={{ page_obj.paginator.num_pages }}">last</a>
      {% endif %}
    </div>



  {% endif %}
{% endblock %}  

