{% extends "reviews/base.html" %}
{% block content %}
  <div id="page">
    <article class="review" id="">
      <div class="review-body" id="">
        <a class="font-change" href="{% url 'user-reviews' object.author %}">{{ object.author }}</a>
        <small class="font-change">{{ object.date_posted|date:'m/d/y' }}</small>
        <small><h4 class="font-change review-link">{{ object.title }}</h4></small>
        <hr>
        <p class="font-change">{{ object.review }}</p>
        {% if object.author == user %}
          <hr>
          <a class="font-change btn" href="{% url 'review-update' object.id %}">Update </a>
          |
          <a class="font-change btn" href="{% url 'review-delete' object.id %}">Delete </a>
        {% endif %}
     

      </div>
            <br/><br/><br/>
    </article>
    {% if not object.comments.all %}
      <article class="review">
        <div class="comment-space">NO COMMENTS!!!!!!</div>
      </article>
    {% else %}
      {% for comment in object.comments.all %}
        <article class="review">
        <div class="review-body">
          <div>
            {{ comment.name }}
            <small>{{ comment.date_added|date }}</small>
            </br><hr>
          </div>
          <div>
            {{ comment.body }}
          </div>
          {% if comment.name == user %}
            <hr>
            <a class="font-change btn" href="{% url 'review-update' comment.id %}">Update </a>
            |
            <a class="font-change btn" href="{% url 'comment-delete' comment.id %}">Delete </a>
            <h1> FUCKIN HI {{ user }} and {{ comment.name }} </h1>
          {% else %}
            <h1> FUCK </h1>
          {% endif %}
        </div>
        

        </article>
      {% endfor %}
    {% endif %}
      
    <a class="font-change" id="comment-btn" href="{% url 'review-comment' object.id  %}">Add Comment</a>
  </div>
{% endblock %}  

