body {
  font-family: Hack, sans-serif;
  background-color:black;
  margin:auto;
  background-image:url("../background_images/bw_glitch.png");
  background-repeat:repeat;
}


a{
  text-decoration:none;
}

a:hover{
  animation-duration: 30s;
  animation-name:change_color;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}

.brat {
  font-family:Brat, Hack;
  font-size:64px;
}



.btn {
}

.comment-space {
  margin-top:0;
  padding:1%;
}

.logo{
  cursor:pointer;
}

.login-form {
  text-align:left;
  width:50%;
  padding:10%;
  margin:auto;
  border-radius:4px;
  background-color: rgba(22,22,22,0.95);
}

.login{
  font-size:24px;
  line-height:40px;
}

.login-btn{
  
}

.mini-brat {
  font-family:Brat, Hack;
  font-size:48px;
}

.nav-links{
  width:100%;
  list-style:none;
}

.navbar {
  line-height:20px;
  display:flex;
  justify-content:space-between;
  width:100%;
  margin-bottom:2%;
  background-color:rgba(22,22,22,1);
}

.nav-links li{
  font-size:18px;
  display:inline-block;
  padding:20px 20px;
}


.no-decorate{
  text-decoration:none;
}


.project-parapgraph{
  line-height:4vh;
}

.font-change{
  animation-duration: 10s;
  animation-name: change_color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.grey{
  overflow-wrap:break-word;
}

.left{
  float:left;
}

.main-nav{
  margin-right:2%;
}

.no-pad{
  padding:0;
}

.register{
  font-size:14px;
  line-height:20px;
}

.register-btn{
  margin-top:2%;
  margin-bottom:2%;
}

.register-form {
  text-align:left;
  width:80%;
  padding:5%;
  margin:auto;
  border-radius:4px;
  background-color: rgba(22,22,22,0.95);
}

.review{
  margin:auto;
  margin-top:0px;
  margin-bottom:2%;
  display:flex;
  width:90%;
  border:1px solid white;
  border-radius:4px;
  background-color: rgba(22,22,22,0.99);
}

.review-detail {
  margin-bottom:2%;
  display:inline-block;
  width:80%;
  border:1px solid white;
  border-radius:4px;
  background-color: rgba(22,22,22,0.95);
}

.review-detail-content{
  margin:2%;
}

.review-body{
  margin-top:0;
  padding:1%;
}

.review-content{
  font-size:12px;
  margin:2%;
}

.review-detail-link {
  display: flex;
  padding: 0px 20px;
}

.review-form {
  text-align:left;
  width:80%;
  padding:5%;
  margin:auto;
  border-radius:4px;
  background-color: rgba(22,22,22,0.95);
}

.review-text{
  font-size:20px;
  line-height:24px;
}
.review-link {
  display: inline-block;
  padding: 0px 20px;
}

.right{
  float:right;
}

#comment-btn{
  font-size:12px;;
  padding:6px;
  margin:auto;
  float:left;
  text-align:center;
  margin-left:5%;
  margin-bottom:2%;
  width:7%;
  border:1px solid white;
  border-radius:4px;
  background-color: rgba(22,22,22,0.99);
}


#update-btn {
  display:flex;
  float:right;
  border:1px solid white;
  margin:2%;
}

#sidebar {
  width:10%;
  display:flex;
  padding:2%;
  margin:2%;
  border-radius:4px;
  background-color: rgba(22,22,22,0.95);
}


#page {
  display:inline-block;
  margin-top:0%;
}

#login-page {
  width:100%;
  display:inline-block;
  margin:15%;
  margin-left:300px;
}

#register-page {
  width:80%;
  display:inline-block;
  margin:5%;
  margin-left:225px;
}

#review-page {
  width:100%;
  display:inline-block;
  margin:10%;
  margin-left:300px;
}

@keyframes change_color {
  0% {color: #1fe432;}
  50% {color: blue;}
  100% {color: #A9A9A9;}
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/Hack-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Brat';
  src: url('../fonts/OpenBrush.ttf') format('truetype');

}

@font-face{
  font-family: 'Unscii';
  src: url('../fonts/unscii-8-tall.ttf') format('truetype');
}

