body {
  font-family: Unscii, sans-serif;
  background-color:black;
  margin:auto;
  background-image:url("../background_images/bw_glitch.png");
  background-repeat:repeat;
}




a{
  text-decoration:none;
}

a:hover{
  background-color:green;
  animation-duration: 10s;
  animation-name:change_color;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}

#form-page {
  width:100%;
  margin-bottom:0%;
  display:inline-block;
  margin-top:68px;
}

#page {
  width:100%;
  margin-bottom:5%;
  display:inline-block;
  margin-top:62px;
}

#pagination{
  margin-left:10%;
  width:30%;
  padding-top:2%;
  padding-bottom:2%;
  background-color:#000000;
}

#sidebar {
  display:inline-block;
  float:right;
  padding:2%;
  margin:2%;
  border-radius:4px;
  background-color: rgba(22,22,22,0.95);
}

#update-btn{
  margin-left:40%;
}

.brat {
  font-family:Cyber;
  font-size:64px;
}

.btn{
  padding:1%;
  margin:2%;
  background-color:rgba(22,22,22,1);
}

.content-section{
  padding:2%;
  margin:2%;
  background-color: rgba(22,22,22,0.95);
}

.font-change{
  animation-duration: 10s;
  animation-name: change_color;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.form {
  margin-bottom:0%;
  display:inline-block;
  width:80%;
  border:2px solid #2a2a2a;
  border-bottom:none;
  border-radius:none;
  background-color: rgba(22,22,22,1);
}

.grey{
  overflow-wrap:break-word;
}

.login{
  display:inline-block;
  margin:auto;
  margin:10% auto auto 25%;
  width:40%;
}

.logo li{
  font-size:64px; 
  cursor:pointer;
}

.main-nav{
  margin-right:2%;
}


.navbar {
  padding-top:20px;
  border-bottom:4px solid #2a2a2a;
  text-align:center;
  position:fixed;
  line-height:0;
  display:block;
  width:100%;
  background-color:rgba(22,22,22,1);
}

.nav-links{
  margin-bottom:0;
  padding-bottom:0;
  width:100%;
  list-style:none;
}



.nav-link {
  margin-right:5%;
  padding:20px 20px;
  display:inline-block;
}

.nav-links li{
  margin-right:5%;
  padding-bottom:0;
  font-size:18px;
  display:inline-block;
  padding:10px 10px;
}

.nav-link-more {
  font-size:16px;
  margin-right:4%;
  padding:20px 14px;
  display:inline-block;
}


.no-pad{
  padding:0;
}

.review{
  margin:auto;
  margin-bottom:0%;
  display:block;
  min-width:80%;
  width:80%;
  border:2px solid #2a2a2a;
  border-bottom:none;
  border-radius:none;
  background-color: rgba(22,22,22,1);
}

.review-body{
  margin-top:0;
  padding:1%;
  padding-top:2%;
}

.review-content{
  margin:2%;
}

.review-link {
  display: inline-block;
  padding: 0px 20px;
}





@keyframes change_color {
  0% {color: #20c20e;}
  100% {color: grey;}
}

@font-face {
  font-family: 'Cyber';
  src: url('../fonts/Cyberjunkies_italic.ttf') format('truetype');
}

@font-face{
  font-family: 'Unscii';
  src: url('../fonts/unscii-8-tall.ttf') format('truetype');
}

