{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="login-form" id="login-page">
    <form method="POST" class="login">
      {% csrf_token  %}
      <fieldset class="">
        <legend class="mini-brat">Login</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="">
        <button class="login-btn" type="submit">Login</button>
        <small class="test-muted ml-2"><a href="{% url 'password_reset' %}">Forgot Password?</a></small>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted"> <a class="ml-2" href="{% url 'register' %}">Sign up</a></small>
    </div>
  </div>
{% endblock %}

