{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">
    <div class="media">
      <img class="account-img" src="{{ user.profile.image.url }}" >
      <div class="media-body">
        <h4 class="account-heading">{{ user.username }}</h4>
        <p class="text=secondary">{{ user.email }}</p>
      </div>
    </div>
  
  </div>
{% endblock %}

