{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="register-form" id="register-page">
    <form method="POST" class="register">
      {% csrf_token  %}
      <fieldset class="">
        <legend class="mini-brat">Start reviewing</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="">
        <button class="register-btn" type="submit">Sign Up</button>
      </div>
    </form>
    <div class="">
      <small class=""> <a class="ml-2" href="{% url 'login'  %}">login</a></small>
    </div>
  </div>
{% endblock %}

